/**
 * HW Assignment portfolio, index, contact StyleSheet
 **/

* {
  box-sizing: border-box;
  /*text-align: center;*/
}

/* INSTRUCTOR: Here is the filled out version of the float activity */

body {
  font-size: 15px;
  line-height: 24px;
  color: #777777;
  background: pink;
}

/*div that includes header and h1 tags*/ 
#fixed {
  position: fixed;
  margin: 0 auto;
  top: 0;
 /* height: 83px;*/
  /*left: 150px;*/
  /*padding: 0px;
  margin: 0;*/
  text-align: center;
  background: #eee;
  width: 100%;
}

/*includes h1 tag with my name*/
header {
  /*padding: 20px;*/
  /*margin-bottom: 20px;*/
  position:fixed;
  width:100%;
  color: #fff;
  background: #ffffff;
  border: 1px solid #cccccc;
  /*z-index: 1;*/
  margin: 0 auto;
}


/*My Name at top of the page*/
h1 {
  background: #4aaaa5;
  color: #fff;
  padding: 35px 30px;
  width:234px;
  /*height:84px;*/
  /*left:148px;
  top:2px;*/
  margin: 0;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 24px;
  margin-left:150px;
}

/*About Me*/
h2 {
  /*margin-top: 100px;*/
  margin-left: 20px;
  top:120px;
  color: #4aaaa5;
  font-size: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  border-bottom: 1px solid #666666;
}

/*connect-with-me*/
h3 {
  /*margin-top:100px;*/
  position: relative;
  border-bottom: 1px solid #666666;
  color: #4aaaa5;
  font-size: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/*nav tag with ul and li of about, portfolio, 
contact*/
#absolute {
  position: absolute;
  right: 1040px;
  left:820px;
  width: 256px;
  padding: 20px;
  background: #fff;
  font-size: 18px;
}

ul {
  position: fixed;
  top:0;
  list-style-type: none;
  margin:0;
  padding:35px 30px;
  overflow:hidden;
}

li {
  display: inline;
  float: left;
  display: block;
  padding: 10px 5px;
  border-right: 1px solid #666666;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: #000;
}

li a.active {
  background-color: #4aaaa5;
  color:white;
  /*padding:5px 5px;*/
}

li a:hover:not(.active) {
  background-color: #666666;
  color: white;
}

/*includes main-bio and connect-with-me*/
section {
  /*padding: 20px;*/
  /*margin-bottom: 20px;*/
  /*background: #fff;*/
  /*width: 650px;*/
}

/*container has main-bio, bio-image, connect-with-me*/
.container {
  text-align: left;
  width: 960px;
  margin: 0 auto;
}


#main-bio, 
#bio-image {
  float: left;

}

#bio-image {
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
padding-top: 20px;
}

#main-bio {
  width: 650px;
  background: #fff;
  margin-top: 130px;
  /*margin-left:20px;*/
  text-align: left;
  padding-top: 30px;

}

p {
  margin: 0 20px;
  padding-top: 20px;
}

#connect-with-me {
  width:270px;
  float:right;
  background: #ffffff;
  border: 1px solid #cccccc;
  position: relative;
  top: 130px;
  text-align: center;
  /*z-index: 1;*/
}

/*Tried to have each one social image link have an id, 
but maybe needs to be a class or don't need bc "connect-with-me" id*/
/*#github,
#linkedin, 
#stackoverflow{
*/  /*width: 100px;*/
  /*height: 100px;*/
  /*background-image:url("../images/github.png");*/
/*  position: relative;
  top: 130px;
  z-index: 2;
}

*/ 

/*The following are from the float assign*/
/*#left {
  float: left;
  width: 33.3%;
  color: #fff;
  background: #666;
}

#middle {
  float: left;
  width: 33.3%;
  color: #fff;
  background: #888;
}

#right {
  float: left;
  width: 33.3%;
  color: #fff;
  background: #666;
}

#full {
  width: 100%;
  overflow: auto;
  clear: both;
  background: #eee;
}

#division {
  padding: 20px;
  margin-top: 20px;
  background: #6ea3da;
}
*/


/*aside {
  float: left;
  width: 33%;
  height: 200px;
  padding: 20px;
  margin-left: 30px;
  background: #fff;
  border: 1px solid #eee;
}
*/
/*End of float assign code*/

footer {
  padding: 20px;
  /*clear: both;*/
  background: #666666;
  position: fixed;
  width: 100%;
  bottom:0;
  /*margin-left:0;*/
  text-align:center;
  color: #ededed;
}
